<div class="container">
  <%= simple_form_for @hooker do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :short_description %>
    <%= f.input :long_description %>
    <%= f.input :price %>
    <%= f.submit %>
  <% end %>
</div>

<%= render "scriptautocomplete" %>
