<div class="container">
  <%= simple_form_for @hooker do |f| %>
  <%= f.input :name %>
  <%= f.input :city %>
  <%= f.input :street %>
  <%= f.input :postal_code %>
  <%= f.input :street_nr %>
  <%= f.input :short_description %>
  <%= f.input :long_description %>
  <%= f.input :price %>
  <%= f.input :profile_picture %>
  <%= f.input :profile_picture_cache, as: :hidden %>
  <%= f.submit %>
  <% end %>
</div>
